/* =Navigation
------------------------------- */
.rt-settings-tab {	
	padding: 10px;
	margin: 10px 0 0 -2px;
	float: left;
	background-color: #CCCCCC;
	color: #000;
}

.rt-settings-tab:hover {
	background-color: #EFEFEF;
	color: #000;
}

.rt-settings-tab-selected {
	border: none;
	color: #000;
	background-color: #EFEFEF;
}

.rt-settings-tab:hover {
	cursor: pointer;
}

/* =Section
------------------------------- */
.rt-settings-section {	
	clear: both;
	margin: 40px 20px 0 -2px;
	padding: 20px;
	display: none;
	background-color: #EFEFEF;
}

.rt-settings-section-selected {
	display: block;
}

/* =Pick Lists
------------------------------- */
.rt-post-type-list {
	height: 100px;
	background: #FFFFFF;
	padding: 0;
	margin: 0;
	overflow: scroll;
	float: left;
	border: 1px solid #DFDFDF;
}

.rt-post-type-list li {
	padding: 3px 10px;
	margin: 0;
}

.rt-post-type-list li:hover {
	cursor: pointer;
}
